[% IF show_vars %]
<h1>VARS</h1>
<pre>[% FileWiki.DumpVars %]</pre>
<h1>DIR.VARS</h1>
<pre>[% FileWiki.DumpVars( DIR ) %]</pre>
[% END %]

[% IF show_logger %]
<h1>filewiki log:</h1>>
<pre>[% FileWiki.Log %]</pre>
[% END %]
