<div id="bottom">
<div id="copyright">
&copy; [% copyright %]
</div>
<div id="mtime">
Updated [% MTIME %]
</div>
<div id="bottom_links">
<a class="actionlink" href="#top">&nbsp;Top&nbsp;</a>
</div>
</div>
