[% IF subdoc_root %]
<div id="content_header">
[% FileWiki.PageTree( ROOT => subdoc_root,
                      text_key => "NAME",
                      regexp => { match => '_', replace => ' ' }
                      highlight_link => 1,
                    )
%]
</div>
[% END %]
