<div id="bottom">
<div id="badges">
<a href="http://www.digint.ch/filewiki"><img src="[% URI_PREFIX %]/img/filewiki_badge.png" alt="Powered by FileWiki" width="80" height="15"></a>
</div>
<div id="copyright">
&copy;&nbsp;[% copyright_year %]&nbsp;[% copyright %]
</div>
[% IF hosted_by %]
<div id="hosted_by">
Hosted by:&nbsp;[% hosted_by %]
</div>
[% END %]
</div>
