<div id="bottom">
<div id="badges">
<a href="http://filewiki.tty0.ch"><img src="[% URI_PREFIX %]/img/filewiki_badge.png" alt="Powered by FileWiki"></a>
</div>
<div id="copyright">
&copy;&nbsp;[% copyright_year %]&nbsp;[% copyright %]
</div>
[% IF hosted_by %]
<div id="hosted_by">
Hosted by:&nbsp;[% hosted_by %]
</div>
[% END %]
</div>
