[% additional_class = pagelist_all_dir ? ' gallery_dir_index' : '' %]

<div class="gallery_index[% additional_class %]">
[% counter = 1 %]
[% FOREACH page IN pagelist %]

[%# NOTE: mosaic.tt uses variables "page" and "counter" %]
[% INCLUDE gallery/mosaic.tt %]

[% counter = counter + 1 %]
[% END %]
</div>
